@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  --moderateViolet: hsl(263, 55%, 52%);
  --veryDarkGrayishBlue: hsl(217, 19%, 35%);
  --veryDarkBlackishBlue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(0, 0%, 81%);
  --lightGrayishBlue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--lightGrayishBlue);
  font-family: "Barlow Semi Condensed", sans-serif;
  
}

.container {
  min-width: 375px;
  max-height: 1440px;
  width: 100%;
  
}

.cards {
  display: grid;
  grid-template-columns: repeat(1);
  gap: 30px;
  margin: 50px 0px ;
  
}

.card {
  width: 90%;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 4px 20px  rgba(0, 0, 0, 0.363);
}

.card.uno {
  background-color: var(--moderateViolet);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position:  85% 0%;
  background-size: 25%;
}
.card.dos {
  background-color: var(--veryDarkGrayishBlue);
}
.card.tres {
  background-color: var(--white);
  color: black;
}
.card.cuatro {
  background-color: var(--veryDarkBlackishBlue);
}
.card.cinco {
  background-color: var(--white);
  color: black;
}
.card-header {
  display: flex;
  margin-bottom: 20px;
}
.card-header h5 {
  color: var(--lightGray);
}

.avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 2px solid var(--lightGray);
  margin-right: 20px;
}

.avatar.uno {
  background-image: url(../images/image-daniel.jpg);
}
.avatar.dos {
  background-image: url(../images/image-jonathan.jpg);
}
.avatar.tres {
  background-image: url(../images/image-jeanette.jpg);
}
.avatar.cuatro {
  background-image: url(../images/image-patrick.jpg);
}
.avatar.cinco {
  background-image: url(../images/image-kira.jpg);
}

.card-body h2 {
  margin-bottom: 20px;
  font-weight: 600;
}
.card-body q{ 
  color: rgb(228, 228, 221);

}
.card.cinco q {
  font-size: 20px;
  color: var(--veryDarkGrayishBlue);
}
.card.tres q {
  font-size: 20px;
  color: var(--veryDarkGrayishBlue);
}

@media only screen and (min-width: 768px) {
  .container {
    min-width: 375px;
    max-height: 1440px;
    width: 100%;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4);
    gap: 30px;
    width: 90%;
    margin: 100px auto;
  }

  .card {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 40px;
    border-radius: 10px;
    color: white;
    height: 100%;
  }

  .card.uno {
    background-color: var(--moderateViolet);
    grid-area: 1/1/2/3;
  }
  .card.dos {
    background-color: var(--veryDarkGrayishBlue);
    grid-area: 1/3/2/4;
  }
  .card.tres {
    background-color: var(--white);
    color: black;
    grid-area: 2/1/3/2;
  }
  .card.cuatro {
    background-color: var(--veryDarkBlackishBlue);
    grid-area: 2/2/3/4;
  }
  .card.cinco {
    background-color: var(--white);
    color: black;
    grid-area: 3/1/4/4;
  }
}

@media only screen and (min-width: 992px) {

  body {
    background-color: var(--lightGrayishBlue);
    font-family: "Barlow Semi Condensed", sans-serif;
    height: 100vh;
   
    
  }
  .container {
    min-width: 375px;
    max-height: 1440px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(6);
    gap: 30px;
    width: 70%;
    margin:  0px 0px 0px 0px;
    
   
    
  }

  .card {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    height: 100%;
    
  }

  .card-header{
    margin-bottom: 10px;
  }
  .card.uno {
    background-color: var(--moderateViolet);
    background-position:  80% 0%;
    background-size: 20%;
    grid-area: 1/1/2/4;
    width: 541px;
    height: 280px;
    
  }
  .card.dos {
    background-color: var(--veryDarkGrayishBlue);
    grid-area: 1/4/2/5;
    width: 253px;
    height: 280px;
    
    
  }
  .card.tres {
    background-color: var(--white);
    color: black;
    grid-area: 2/1/3/2;
    width: 253px;
    height: 280px;
    
    
  }
  .card.cuatro {
    background-color: var(--veryDarkBlackishBlue);
    grid-area: 2/2/3/5;
    width: 541px;
    height: 280px;
    
  }
  .card.cinco {
    background-color: var(--white);
    color: black;
    grid-area: 1/5/3/6;
    height: 100%;
    width: 253px;
  
    
    
  }
  .card-body h3 {
    margin-bottom: 10px;
   
  }
  

 
  .card.tres q {
    font-size: 14px;
    color: var(--veryDarkGrayishBlue);
  
   
  }
  .card.cinco q {
    font-size: 14px;
    color: var(--veryDarkGrayishBlue);
  }
}
